<configuration>
  <system.webServer>


    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Either" requireAccess="Script" />
    </handlers>


    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="app.js" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pdf" allowed="true" />
                    <add fileExtension=".svg" allowed="true" />
                </fileExtensions>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
    
  </system.webServer>
</configuration>
